# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Personal Coding Material\CP-Algos-Others-in-JAVA\Coding Blocks FAANG Interview Course\Larger Number with Same Digits\CPP Code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
