# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\All My Coding Problems\CP-Algos-Others-in-JAVA\Coding Blocks Dynamic Programming\Bridges\In Cpp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
