# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Personal Coding Material\All-My-Coding-Problems\Coding Blocks FAANG Interview Course\Is Power of Two\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
